* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background: #f0f0f0;
  font-family: "Noto Sans JP", sans-serif;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}

.flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;

  max-width: 1080px;
  margin: 0 auto;
}

@keyframes fadeIn {
  0% {opacity: 0}
  100% {opacity: 1}
}

@-webkit-keyframes fadeIn {
  0% {opacity: 0}
  100% {opacity: 1}
}

.main-container {
  max-width: calc(100% - 300px);
  animation: fadeIn 2s ease 0s 1 normal;
}

.aside-container {
  max-width: 300px;
}

@media screen and (max-width: 768px) {
  .flex {
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    max-width: 100%;
  }
  .main-container,
  .aside-container {
    max-width: 100%;
  }
}

.no-decoration {
  text-decoration: none !important;

  &:hover {
    text-decoration: none !important;
  }
}

.no-selection {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.content-title {
  color: #444;
  font-size: 24px;
  display: flex;
  align-items: center;
  margin-top: 20px;

  &:before,
  &:after {
    content: "";
    flex-grow: 1;
    height: 1px;
    background: grey;
    display: block;
  }
  &:before {
    margin-right: 0.4em;
  }
  &:after {
    margin-left: 0.4em;
  }
}

.page {
  padding: 20px;
  margin: 10px auto;
  background: white;
  max-width: 100%;
  border-radius: 1em;

  @media screen and (max-width: 768px) {
    margin-right: 10px;
    margin-left: 10px;
  }

  h2 {
    font-size: 18px;
    text-align: left;
  }

  p {
    text-align: left;
    font-size: 14px;
    margin-bottom: 30px;
  }

  a {
    text-align: left;
    font-size: 14px;
    margin-bottom: 30px;
  }
}

.box {
  margin-top: 10px;
  margin-left: 10px;
  padding: 10px;
  border-radius: 1rem;
  transition: 500ms;
  background: white;
  overflow: hidden;
  text-align: center;

  @media screen and (max-width: 768px) {
    margin-right: 10px;
    margin-left: 10px;
  }

  .box-title {
    position: relative;
    display: inline-block;
    margin-bottom: 1em;
    font-size: 20px;
    color: black;


    &:before {
      content: "";
      position: absolute;
      left: 50%;
      bottom: -11px; /*線の上下位置*/
      display: inline-block;
      width: 80%; /*線の長さ*/
      height: 4px; /*線の太さ*/
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%); /*位置調整*/
      background-color: rgb(35, 120, 218); /*線の色*/
      border-radius: 10px; /*線の丸み*/
    }
  }

  p {
    font-size: 14px;
    margin-bottom: 10px;
  }
}

.top-post {
  display: flex;
  margin-bottom: 20px;
  margin-top: 10px;
  padding: 10px;
  transition: 500ms;
  background: white;
  overflow: hidden;

  box-shadow: 0px 1px 1px -1px rgb(78, 77, 77);
  -webkit-box-shadow: 0px 1px 1px -1px rgb(78, 77, 77);
  -moz-box-shadow: 0px 1px 1px -1px rgb(78, 77, 77);

  @media screen and (max-width: 768px) {
    padding: 5px;
    margin: 10px;
    flex-direction: column; 
  }

  &:hover {
    opacity: 0.8;
  }

  .text-content {
    margin-left: 10px;

    @media screen and (max-width: 768px) {
      margin-left: 10px;
      font-size: 10px;
    }

    .title {
      color: black;
      font-size: 12px;

      @media screen and (max-width: 768px) {
        font-size: 15px;
      }
    }

    .date {
      color: grey;
      font-size: 12px;

      @media screen and (max-width: 768px) {
        font-size: 9px;
      }
    }
  }
}

.top-post-image {
  max-width: 100px;
  max-height: auto;
  vertical-align: middle;
  position: relative;

  @media screen and (max-width: 768px) {
    // max-width: 120px;
    height: auto;
    max-width: 100%;
    vertical-align: middle;

  }
}

.recent-post {
  display: flex;
  margin-bottom: 20px;
  margin-top: 10px;
  padding: 10px;
  transition: 500ms;
  background: white;
  overflow: hidden;

  box-shadow: 0px 1px 1px -1px rgb(78, 77, 77);
  -webkit-box-shadow: 0px 1px 1px -1px rgb(78, 77, 77);
  -moz-box-shadow: 0px 1px 1px -1px rgb(78, 77, 77);

  @media screen and (max-width: 768px) {
    padding: 5px;
    margin: 10px;
    flex-direction: column; 
  }

  &:hover {
    opacity: 0.8;
  }

  .text-content {
    margin-left: 10px;

    @media screen and (max-width: 768px) {
      margin-left: 10px;
      font-size: 10px;
    }

    .title {
      color: black;
      font-size: 12px;

      @media screen and (max-width: 768px) {
        font-size: 15px;
      }
    }

    .date {
      color: grey;
      font-size: 12px;

      @media screen and (max-width: 768px) {
        font-size: 9px;
      }
    }
  }
}

.recent-post-image {
  max-width: 100px;
  max-height: auto;
  vertical-align: middle;
  position: relative;

  @media screen and (max-width: 768px) {
    // max-width: 120px;
    height: auto;
    max-width: 100%;
    vertical-align: middle;

  }
}

.post-preview-image {
  height: auto;
  vertical-align: middle;
  position: relative;
  border-radius: 10px;
  max-width: 270px;

  @media screen and (max-width: 768px) {
    max-width: 100%;
  }
}

/**/
.article {
  display: flex;
  margin-top: 10px;
  padding: 10px;
  transition: 500ms;
  background: white;
  border-radius: 1em;
  max-width: 100%;
  transition: 500ms;

  @media screen and (max-width: 768px) {
    position: relative;
    flex-direction: column;
    margin-right: 10px;
    margin-left: 10px;
  }

  &:hover {
    opacity: 0.8;
  }

  .text-content {
    margin-left: 10px;

    @media screen and (max-width: 768px) {
      margin-left: 0;

      margin-top: 10px;
      font-size: 10px;
      flex-direction: column;
    }

    .title {
      color: black;
      font-size: 16px;

      @media screen and (max-width: 768px) {
        font-size: 16px;
      }
    }

    .description {
      color: #444;
      font-size: 14px;

      @media screen and (max-width: 768px) {
        font-size: 12px;
      }
    }

    .tags {
      margin-top: 10px;

      @media screen and (max-width: 768px) {
        margin-top: 10px;
      }
    }

    .date {
      color: grey;
      font-size: 12px;

      @media screen and (max-width: 768px) {
        font-size: 9px;
      }
    }
  }
}

.category {
  font-size: 12px;
  text-decoration: none !important;
  padding: 3px 15px;
  border-radius: 10px;
  background: #2d8fdd;
  transition: 0.4s;
  color: white;
  user-select: none; /* CSS3 */
  -moz-user-select: none; /* Firefox */
  -webkit-user-select: none; /* Safari、Chromeなど */
  -ms-user-select: none; /* IE10かららしい */

  @media screen and (max-width: 768px) {
    font-size: 12px;
  }

  &:hover {
    opacity: 0.9;
    text-decoration: none !important;
  }
}

.tag {
  width: auto;
  padding: 2px 7px;
  border-color: #2d8fdd;
  border-style: solid;
  border-width: 1px;
  border-radius: 15px;
  text-decoration: none !important;
  transition: 0.4s;
  color: #2d8fdd;
  user-select: none; /* CSS3 */
  -moz-user-select: none; /* Firefox */
  -webkit-user-select: none; /* Safari、Chromeなど */
  -ms-user-select: none; /* IE10かららしい */

  &:hover {
    color: black;
    border-color: black;
    transition: all 0.2s linear;
    text-decoration: none !important;
  }

  font-size: 13px;
}

.rank {
  font-size: 13px;
  text-decoration: none !important;
  padding: 2px;
  border-radius: 5px;
  background: #f0428b;
  transition: 0.4s;
  color: white;
  user-select: none; /* CSS3 */
  -moz-user-select: none; /* Firefox */
  -webkit-user-select: none; /* Safari、Chromeなど */
  -ms-user-select: none; /* IE10かららしい */

  @media screen and (max-width: 768px) {
    font-size: 9px;
  }

  &:hover {
    opacity: 0.9;
    text-decoration: none !important;
  }
}

.paginate-btn {
  max-width: 100px;
  position: relative;
  margin-right: 10px;
  display: inline-block;
  font-size: 12px;
  text-decoration: none !important;
  padding: 3px 15px;
  border-radius: 10px;
  background: #444;
  transition: 0.4s;
  color: white;
  user-select: none; /* CSS3 */
  -moz-user-select: none; /* Firefox */
  -webkit-user-select: none; /* Safari、Chromeなど */
  -ms-user-select: none; /* IE10かららしい */

  @media screen and (max-width: 768px) {
    font-size: 9px;
  }

  &:hover {
    opacity: 0.9;
    text-decoration: none !important;
  }
}

.paginate-btn.is-disabled {
  background-color: #777;
  cursor: not-allowed;
}

.send-btn {
  font-size: 12px;
  text-decoration: none !important;
  padding: 3px 15px;
  border-radius: 10px;
  background: #2d8fdd;
  transition: 0.4s;
  color: white;
  user-select: none; /* CSS3 */
  -moz-user-select: none; /* Firefox */
  -webkit-user-select: none; /* Safari、Chromeなど */
  -ms-user-select: none; /* IE10かららしい */

  @media screen and (max-width: 768px) {
    font-size: 12px;
  }

  &:hover {
    opacity: 0.9;
    text-decoration: none !important;
  }
}


.mobile-bottom-nav{
	position:fixed;
	bottom:0;
	left:0;
	right:0;
  z-index:1000;
  visibility: hidden;

  @media screen and (max-width: 768px) {
    visibility: visible;
  }
	
	//give nav it's own compsite layer
	will-change:transform;
	transform: translateZ(0);
	
	display:flex;	
	
	height:50px;

  border-top: solid 1px rgb(199, 196, 196);
	background-color:#fff;
	
	&__item{
		flex-grow:1;
		text-align:center;
		font-size:12px;
		
		display:flex;
		flex-direction:column;
		justify-content:center;
	}
	&__item--active{
		//dev
    color: #2d8fdd;
    
	}
	&__item-content{ 
		display:flex;
    flex-direction:column;		
  }
}

